streamlit==1.45.1
llama-index==0.12.35
PyMuPDF==1.25.5
openai==1.77.0
scikit-learn==1.6.1
networkx==3.4.2
numpy==2.2.5
sentence-transformers==4.1.0
nltk==3.9.1
spacy==3.8.7
keybert==0.9.0
pandas==2.2.3